<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
     <div class="github-fork-ribbon-wrapper left">
        <div class="github-fork-ribbon">
            <a href="https://github.com/warpdesign/react-500px">Fork me on GitHub</a>
        </div>
    </div>  
    <div id="root"></div>
  </body>
</html>
